In [1]:
import pandas as pd
import numpy as np

In [11]:
d = {'col_0': [9.412274868850414,
  1.6912984810591238,
  29.3077118700778,
  2.479078703969231,
  6.096098415781828,
  20.824811170615632,
  -4.0923240485624195,
  -0.9163665793028839,
  6.876032258370355,
  1.7013004222064074],
 'col_1': [-6.927646124218061,
  2.951234894124127,
  1.4117105299875687,
  11.034716026094955,
  -11.647885294716943,
  -2.001790376899514,
  16.513910094871704,
  23.57331007231312,
  -10.111795576883658,
  11.448475108927784],
 'col_2': [-4.806078852186218,
  -3.5685315471609,
  -3.7187918325565352,
  0.7749207083760563,
  14.96439826913362,
  12.124212708765679,
  5.591442432190399,
  1.366891215180826,
  5.032888429341101,
  3.9406955794257676],
 'col_3': [12.930533194619699,
  -1.3157162979221546,
  4.938050915142407,
  3.9893238819075534,
  4.476918491481412, None, None, None, None, None],
  'col_4' :[1.9414697883336918,
  0.2226858272178749,
  6.0073818875285205,
  8.55438472349352,
  7.69612406446701,
  17.91963383387963,
  16.393429788252842,
  9.944403981210883,
  1.636637408634471,
  3.9938565369289174],
 'col_5': [19.133980179217836,
  7.212541228509997,
  -8.107731333797457,
  -1.89565232048181,
  -0.7751323323140813,
  16.522047703756748,
  3.928360151758522,
  27.601067737202705,
  11.566194702604271,
  6.2480682533019465],
 'col_6': [0.6429608097151007,
  14.721793096791725,
  2.5928885773593064,
  -3.241234534171207,
  10.68132717730888,
  5.127583167061641,
  16.89060725824544,
  4.264066812511585,
  -23.596879666225558,
  12.893664041799795],
 'col_7': [-13.777408839472628,
  20.387561454090367,
  23.213647385840687,
  0.7296861409518147,
  -6.647019101153951,None, None, None, None, None],
  'col_8': [25.885146875977153,
  8.469193270877469,
  12.457269500324553,
  12.76907591123011,
  15.184211331879478,
  15.613514386873796,
  -2.1046644699597614,
  2.848121975763595,
  -2.607603085956881,
  -2.111632283050703],
 'col_9': [16.415077374346698,
  -0.01755547194500018,
  4.208486388168572,
  -1.928263420058225,
  -0.9340277104311543,
  12.88237943539679,
  0.545700085013948,
  0.17879813292780966,
  9.9355766095143,
  10.004873274970343]}

#ValueError: All arrays must be of the same length
# i have to add NaN values in column 3 and 7

In [12]:
df = pd.DataFrame(d)

In [13]:
df

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9
0,9.412275,-6.927646,-4.806079,12.930533,1.941470,19.133980,0.642961,-13.777409,25.885147,16.415077
1,1.691298,2.951235,-3.568532,-1.315716,0.222686,7.212541,14.721793,20.387561,8.469193,-0.017555
2,29.307712,1.411711,-3.718792,4.938051,6.007382,-8.107731,2.592889,23.213647,12.457270,4.208486
3,2.479079,11.034716,0.774921,3.989324,8.554385,-1.895652,-3.241235,0.729686,12.769076,-1.928263
4,6.096098,-11.647885,14.964398,4.476918,7.696124,-0.775132,10.681327,-6.647019,15.184211,-0.934028
5,20.824811,-2.001790,12.124213,NaN,17.919634,16.522048,5.127583,NaN,15.613514,12.882379
6,-4.092324,16.513910,5.591442,NaN,16.393430,3.928360,16.890607,NaN,-2.104664,0.545700
7,-0.916367,23.573310,1.366891,NaN,9.944404,27.601068,4.264067,NaN,2.848122,0.178798
8,6.876032,-10.111796,5.032888,NaN,1.636637,11.566195,-23.596880,NaN,-2.607603,9.935577
9,1.701300,11.448475,3.940696,NaN,3.993857,6.248068,12.893664,NaN,-2.111632,10.004873